@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#nprogress .bar{
    height: 5px !important;
    background: #640064 !important;
}

.ql-editor{
    min-height: 300px;
}

a{
    text-decoration: none !important;
    color: black;
}

h1{
    font-family: 'Playfair Display', serif;
}


.featured-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.navbar-expand-md .navbar-nav {
    align-items: center !important;
}

.navBar{
    position: fixed;
    width:100%;
    z-index:5;
    .navLogo{
        height: 56px !important;
        width: 240px;
        
    
        img{
            transform: translate(-50px,-50px);
            height: 369%;
            width: 156%;
            cursor: pointer;
            pointer-events: none;
        }
    }
    .nav-link{
        color: black !important;
    }
    .nav-item{
        margin-right: 25px;
    }
    .getStartedBtn{
        color: rgb(235, 235, 235) !important;
        width: 100%;
        padding: 10px 15px;
        border-radius: 3px;
        min-width: 7rem;
        background: #470047;
    }
    
}

.active{
    background: rgba(124, 124, 124, 0.651) !important;
}

.searchBg{
    background: white;
    padding: 2%;
    border-radius: 5px;
    border: 2px solid rgb(226, 226, 226);
    .searchTab{
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}

.searchContainer{
    display: flex;
    background: transparent;
    border-bottom: 2px solid black;

    input{
        background: transparent;
        border: none;
        font-weight: 500;
        color: black;
        &::placeholder{
            color: rgb(77, 77, 77);
        }
        &:focus{
            background: transparent;
            box-shadow: none;
        }
    }
    .searchBtn{
        padding: 1% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        border-radius: 50%;
        background: transparent;
        color: rgb(70, 70, 70);

        &:hover{
            color: purple;
        }

    }
}

.blogBody{
    word-break:break-all;
    img{
        height: auto;
        width: auto;
        max-width: 100%;
    }
}
.blogUsername{
    position: relative;
    &::after{
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 100%;
        background: #381750;
        transition: all 0.3s linear;
    }
    &:hover::after{
        width: 0;

    }
}

.imagePreview{
    width: 100%;
    height: auto;
  
    margin-bottom: 50px;
    img{
        height: 100%;
        width: 100%;
    }
}


@media screen and (max-width: 720px){
    .navMobCollapse{
        margin-left: 0;
        min-width: 100vw;
        background:rgba(124, 124, 124, 0.651) ;
    }

}